#body {
    background-color: black;
    color: white;
}

#chat {
    width: 40em;
    height: auto;
    min-width: 20em;
    max-width: 50em;
}


.nickBox {
    /* border: 3px solid silver; */
    margin-right: 5px;
}

.textBox {
    border: 1px solid silver;
    border-radius: 1em;
    background-color: black;
    color: skyblue;
}

#showMessages {
    border: 1px solid silver;
    border-radius: 1em;
    /* box-shadow: 1px 1px 10px 5px  silver; */
    min-height: 10em;
    max-height: 20em;
    min-width: 20em;
    max-width: 50em;
    margin-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    overflow-x: hidden;
}

#showMessages::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

#showMessages::-webkit-scrollbar-track-piece {
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 0px;
    background-color: black;
}

#showMessages::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: silver;
    border-radius: 5px;
}

/* #showMessages::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #096BAA;
} */

#message {
    border: 1px solid silver;
    border-radius: 1em;
    background-color: black;
    color: paleturquoise;
    width: 40.2em;
    height: 5em;
    min-height: 5em;
    max-height: 20em;
    min-width: 10em;
    max-width: 50em;
    margin-top: 10px;
    font-size: 1.2em;
    padding-left: 10px;
    padding-bottom: 5px;    
}

#message::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

#message::-webkit-scrollbar-track-piece {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 0px;
    background-color: black;
}

#message::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: silver;
    border-radius: 5px;
}

.name {
    color:skyblue;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 3px;
}

.text {
    text-align: left;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 5px;

}

.send {
    text-align: right;
}