* {
    background-color: black;
    color: white;
}

.border1 {
    border: 3px solid red;
    width: 100px;
    height: auto;
    text-align: center;
}

.border2 {
    border: 3px solid yellow;
    width: 100px;
    height: auto;
    text-align: center;
}