* {
    background-color: black;
    color: white;
}

#main-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

/* #grid-item {
    text-align: center;
} */

.table,
.table tr, 
.table tr td  {
    border: 1px solid gray;
    border-collapse: collapse;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}