* {
    background-color: black;
    color: white;
}

.Table,
.Table tr, 
.Table tr td  {
    border: 1px solid gray;
    border-collapse: collapse;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}